<section class="content-header">
    <h1>
        Login
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-4">
            <div class="box">
                <div class="box-header with-border">

                    <div class="form-group has-feedback">
                        <input type="email" class="form-control" ng-model="credentials.username" placeholder="Email">
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="password" class="form-control" ng-model="credentials.password" placeholder="Senha">
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="row">
                        <div class="col-xs-8">

                        </div>
                        <!-- /.col -->
                        <div class="col-xs-4">
                            <button ng-click="login(credentials)" class="btn btn-primary btn-block btn-flat">Entrar</button>
                        </div>
                        <!-- /.col -->
                    </div>


                    <!--                    <div class="social-auth-links text-center">
                                            <p>- OR -</p>
                                            <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
                                                Facebook</a>
                                            <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using
                                                Google+</a>
                                        </div>-->
                    <!-- /.social-auth-links -->

                    <a href="#aminesia">Esqueci minha senha</a>
                    <br>
                    <a href="#register" class="text-center">Sou novo por aqui</a>
                </div>
                <!-- /.progress-group -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

    </div>
    <span id="message"></span>
</section>


