<div ng-controller="DashboardController">
    <h3 class="page-header">Painel de controle</h3>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="glyphicon glyphicon-stats"></i> 
                </div>
                <div class="panel-body">
                </div>
                <div class="panel-footer">
                    <div class="row" >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
