<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="#dashboard"><i class="fa fa-dashboard"></i> Início</a></li>
        <li class="active">Estacionamento</li>
    </ol>
</section>
<div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="glyphicon glyphicon-barcode">Estacionamento</i>
                </div>
                <div class="panel-body">

                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="placa" placeholder="Placa...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="buscaPlaca()">Tirar o carro!</button>
                        </span>
                    </div><!-- /input-group -->

                </div>
                <div class="panel-footer">



                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="glyphicon glyphicon-stats">Informações</i>
                </div>
                <div class="panel-body">
                    <ul ng-if="veiculo">
                        <li>Proprietário: {{veiculo.proprietario}}</li>
                        <li>Ramal: {{veiculo.email}}</li>
                    </ul>
                </div>
                <div class="panel-footer">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="glyphicon glyphicon-stats">Pátio</i>
                </div>
                <div class="panel-body">
                    <div >
                        <ul ng-repeat="v in veiculos">
                            <li>Placa: {{v}}</li>
                            <li>Datahora: </li>
                        </ul>
                    </div>
                </div>
                <div class="panel-footer">
                </div>
            </div>
        </div>
    </div>
</div>
