<ion-view title="Fabricante">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Fabricante</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item>Item 1</ion-item>
                    <ion-item>Item 2</ion-item>
                    <ion-item>Item 3</ion-item>
                </ion-list>
                <div class="button-bar">
                    <button class="button button-stable button-block ">1</button>
                    <button class="button button-stable button-block ">2</button>
                    <button class="button button-stable button-block ">3</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>