
<!-- Conteúdo da página -->
<article>
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
          <strong>{{funcao}} Teste</strong>
      </div>
      <div class="card-body">
      
      <div class="panel-body" style="min-height: 300px;">

      <form class="col-xs-6" role="form" #testeForm="ngForm" (ngSubmit)="save(teste)">

        <div class="form-group">
          <label for="testeId" class="control-label">ID</label>
          <input type="text" id="testeId" class="form-control"
            name="testeId" [(ngModel)]="teste.id"
            disabled="true">
        </div>

        <div class="form-group">
          <label for="description" class="control-label">Descrição</label>
          <input type="text" id="description" class="form-control"
            name="description" [(ngModel)]="teste.description"
            required>
        </div>

        
        <div class="card-footer">
          <div class="pull-right">
            <button type="button" class="btn btn-default" (click)="goBack()">
              <i class="fa fa-times" aria-hidden="true"></i>
              Cancelar
            </button>
            <button type="submit" class="btn btn-primary" [disabled]="testeForm.invalid">
              <i class="fa fa-check" aria-hidden="true"></i>
              Salvar
            </button>
          </div>
        </div>

      </form>
      </div>

      </div>
    </div>
  </div>
</article>
