/v2/estacionamento251AngularJS/server/target/
/v2/estacionamento251AngularJS/view/.tmp/
/v2/estacionamento251AngularJS/server/src/main/webapp/
/v2/estacionamento251AngularJS/desktop/app/public/libs/
/v3/todoList/backend/target/

# Dependency directories
node_modules
jspm_packages

### Node ###
# Logs
logs
*.log
npm-debug.log*
# Coverage directory used by tools like istanbul
coverage
# Optional npm cache directory
.npm


### Bower ###
bower_components
.bower-cache
.bower-registry
.bower-tmp


### Java ###
*.class
# Package Files #
*.jar
*.war
*.ear


### NetBeans ###
v3/todoList/progressive/nbproject
v3/todoList/backend/nbproject
v3/todoList/frontend/nbproject
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Ideia ###
v3/todoList/.idea

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


### SublimeText ###
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

# sftp configuration file
sftp-config.json

# Package control specific files
Package Control.last-run
Package Control.ca-list
Package Control.ca-bundle
Package Control.system-ca-bundle
Package Control.cache/
Package Control.ca-certs/
bh_unicode_properties.cache

# Sublime-github package stores a github token in this file
# https://packagecontrol.io/packages/sublime-github
GitHub.sublime-settings
