/v2/estacionamento251AngularJS/server/target/
/v2/estacionamento251AngularJS/view/app/nbproject/private/
/v2/estacionamento251AngularJS/view/nbproject/private/
/v2/estacionamento251AngularJS/view/bower_components/
/v2/estacionamento251AngularJS/view/node_modules/
/v2/estacionamento251AngularJS/view/dist/
/v2/estacionamento251AngularJS/view/.tmp/
/v2/estacionamento251AngularJS/server/src/main/webapp/
/v2/estacionamento251AngularJS/mobile/nbproject/private/
/v2/estacionamento251AngularJS/mobile/bower_components/
/v2/estacionamento251AngularJS/mobile/node_modules/
/v2/estacionamento251AngularJS/desktop/nbproject/private/
/v2/estacionamento251AngularJS/desktop/build/
/v2/estacionamento251AngularJS/desktop/builds/
/v2/estacionamento251AngularJS/desktop/node_modules/
/v2/estacionamento251AngularJS/desktop/app/public/libs/
/v3/todoList/frontend/nbproject/private/
/v3/todoList/frontend/node_modules/
/v3/todoList/progressive/node_modules/
/v3/todoList/progressive/nbproject/private/
/v3/todoList/backend/target/
