/estacionamento251AngularJS/server/target/
/estacionamento251AngularJS/view/app/nbproject/private/
/estacionamento251AngularJS/view/nbproject/private/
/estacionamento251AngularJS/view/bower_components/
/estacionamento251AngularJS/view/node_modules/
/estacionamento251AngularJS/view/dist/
/estacionamento251AngularJS/view/.tmp/
/estacionamento251AngularJS/server/src/main/webapp/
/estacionamento251AngularJS/mobile/nbproject/private/
/estacionamento251AngularJS/mobile/bower_components/
/estacionamento251AngularJS/mobile/node_modules/
/estacionamento251AngularJS/desktop/nbproject/private/
/estacionamento251AngularJS/desktop/build/
/estacionamento251AngularJS/desktop/builds/
/estacionamento251AngularJS/desktop/node_modules/
/estacionamento251AngularJS/desktop/app/public/libs/
/v3/todoList/frontend/nbproject/private/
/v3/todoList/progressive/nbproject/private/