<div>
    <a class="btn btn-primary pull-right" back-button>
        <i class="glyphicon glyphicon-arrow-left"></i> Voltar
    </a>
</div>
<div class="painel painel-default" has-roles-disable="ADMINISTRADOR">
    <h3 class="page-header">
        Fabricante <small>Manter</small>
    </h3>

    <form name="formFornecedor" role="form">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group row">
                    <div class="col-md-2">
                        <input class="form-control" disabled=disabled type="text" id="id" ng-model="fabricante.id">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-6">
                        <label for="nome">Ano:<font color="#FF0000"> *</font></label>
                        <input type="text" class="form-control" id="nome" ng-model="fabricante.year"	required>
                        <span id="nome-message" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <label for="nome">Fabricante:<font color="#FF0000"> *</font></label>
                        <input type="text" class="form-control" id="nome" ng-model="fabricante.make"	required>
                        <span id="nome-message" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <label for="nome">Modelo:<font color="#FF0000"> *</font></label>
                        <input type="text" class="form-control" id="nome" ng-model="fabricante.model"	required>
                        <span id="nome-message" class="text-danger"></span>
                    </div>
                </div>

            </div>
        </div>

        <div has-roles="ADMINISTRADOR">
            <button class="btn btn-primary" ng-click="save()">
                <i class="glyphicon glyphicon-ok-sign"> </i> Salvar
            </button>
            <a class="btn btn-primary pull-right" back-button><i
                    class="glyphicon glyphicon-arrow-left"></i> Voltar</a>
        </div>

    </form>

</div>
<div ng-show="!currentUser">
    <a class="btn btn-primary pull-right" back-button>
        <i class="glyphicon glyphicon-arrow-left"></i> Voltar
    </a>
</div>