<div class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mx-4">
                    <div class="card-body p-4">
                        <h1>Registro</h1>
                        <p class="text-muted">Solicitar registro no sistema</p>

                        <form name="loginForm" (ngSubmit)="register()" #form="ngForm">

                            <div class="input-group mb-3">
                                <span class="input-group-addon"><i class="icon-user"></i></span>
                                <input type="text" class="form-control" name="firstName" [(ngModel)]="credentials.firstName" required minlength="5" maxlength="20"
                                       #firstName="ngModel">
                            </div>

                            <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">
                                <div *ngIf="firstName.errors.required">
                                    Nome deve ser preenchido
                                </div>
                                <div *ngIf="firstName.errors.minlength">
                                    Nome deve conter mais de 5 letras
                                </div>
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-addon">@</span>
                                <input type="email" class="form-control" name="email" [(ngModel)]="credentials.username" required #email="ngModel" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$">
                            </div>

                            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                                Email deve seguir o formato <i>admin@demoiselle.org</i>.
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-addon"><i class="icon-lock"></i></span>
                                <input type="password" class="form-control" name="password" [(ngModel)]="credentials.password" required validateEqual="repassword"
                                       reverse="true" #password="ngModel" required minlength="6" maxlength="20">
                            </div>

                            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                                <div *ngIf="password.errors.required">
                                    Senha deve ser preenchida
                                </div>
                                <div *ngIf="password.errors.minlength">
                                    Senha deve conter mais de 6 letras
                                </div>
                            </div>

                            <button class="btn btn-block btn-success" [disabled]="!form.valid" type="submit">Solicitar acesso</button>

                        </form>
                    </div>
                    <div class="card-footer p-4">
                        <button routerLink="/login" type="button" class="btn btn-link px-0">Voltar</button> 
                        <!-- <div class="row">
                          <div class="col-6">
                            <button class="btn btn-block btn-facebook" type="button"><span>facebook</span></button>
                          </div>
                          <div class="col-6">
                            <button class="btn btn-block btn-twitter" type="button"><span>twitter</span></button>
                          </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
