
<!-- Conteúdo da página -->
<article>
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
          <strong>Visualizar Usuário</strong>
      </div>
      <div class="card-body">
      <div class="panel-body" style="min-height: 300px;">

      <form class="col-xs-6" role="form" #userForm="ngForm">

        <div class="form-group">
          <b><label for="userId" class="form-control-label">ID</label></b>
          <p id="userId">{{user.id}}</p>
        </div>

        <div class="form-group">
          <b><label for="description" class="form-control-label">Nome</label></b>
          <p id="description">{{user.firstName}}</p>
        </div>

        <div class="form-group">
          <b><label for="perfil" class="form-control-label">Perfil</label></b>
          <p id="perfil">{{user.perfil}}</p>
        </div>

        <div class="form-group">
          <b><label for="email" class="form-control-label">email</label></b>
          <p id="email">{{user.email}}</p>
        </div>

        <hr width="100%">

        <div class="clearfix">
          <div class="pull-left">
            <a [routerLink]="['/user']" class="sd btn icon left default">
              <span class="fa fa-chevron-left" aria-hidden="true"></span>
              Voltar à lista
            </a>
          </div>
          <div class="pull-right">
            <a [routerLink]="['/user','edit', user.id]" class="btn btn-primary">
              <i class="fa fa-pencil" aria-hidden="true"></i>
              Editar
            </a>
            <button type="button" class="btn btn-danger" (click)="showModalDelete(user)">
              <i class="fa fa-times" aria-hidden="true"></i>
              Exluir
            </button>
          </div>
        </div>

      </form>

      </div>

      </div>
    </div>
  </div>
</article>

<!-- Janela Modal -->
<div class="modal fade" bsModal #staticModalDelete="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lm">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-body text-center">
          <span class="fa-stack fa-2x">
            <span class="fa fa-circle fa-stack-2x text-default"></span>
            <span class="fa fa-exclamation-triangle fa-stack-1x text-warning"></span>
          </span>
          <br>
          <br>
          <p id="modal-label">Deseja realmente excluir este item?</p>
          <div class="modal-body" *ngIf="user">
            <form class="form-horizontal" role="form" #userForm="ngForm">
              <div class="form-group">
                <label for="firstName" class="control-label col-sm-3">Nome</label>
                <div class="col-xs-8">
                  <input type="text" id="firstName" class="form-control" name="firstName"
                         [(ngModel)]="user.firstName" disabled="true">
                </div>
              </div>
              <div class="form-group">
                <label for="perfil" class="control-label col-sm-3">Perfil</label>
                <div class="col-xs-8">
                  <input type="text" id="perfil" class="form-control" name="perfil"
                         [(ngModel)]="user.perfil" disabled="true">
                </div>
              </div>
              <div class="form-group">
                <label for="email" class="control-label col-sm-3">email</label>
                <div class="col-xs-8">
                  <input type="text" id="email" class="form-control" name="email"
                         [(ngModel)]="user.email" disabled="true">
                </div>
              </div>
              <button type="button" class="btn btn-default icon right" (click)="hideStaticModals()">
              <span class="fa fa-times" aria-hidden="true"></span>
              Não
              </button>
              <button type="submit" class="btn btn-danger icon right" (click)="delete(user)">
              <span class="fa fa-check" aria-hidden="true"></span>
              Sim
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
