<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group mb-0">
          <div class="card p-4">
            <div class="card-body">
              <form name="loginForm" (ngSubmit)="login()" novalidate>
                <h1>Lembrar senha</h1>
                <p class="text-muted">Entre com seu email</p>
                <div class="input-group mb-3">
                  <span class="input-group-addon"><i class="icon-user"></i></span>
                  <input type="text" class="form-control" placeholder="Email" name="username" [(ngModel)]="user.username" #username="ngModel"
                    required>
                  <span id="username-message" class="text-danger"></span>
                </div>
                <div class="row">
                  <div class="col-6">
                    <button type="submit" class="btn btn-primary px-4">Login</button>
                  </div>

                </div>
                <div id="message" class="text-danger"></div>
                <!--<div>
                  Email:admin@demoiselle.org Senha:123456
                </div>-->
              </form>
            </div>
          </div>
          <!--<div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
            <div class="card-body text-center">
              <div>
                <h2>Registre-se</h2>
                <p>Crie uma conta e tenha acesso ao sistema.</p>
                <button type="button" [routerLink]="['/user/edit']" class="btn btn-primary active mt-3">Cadastrar!</button>-

              </div>
            </div>
          </div>-->

        </div>
      </div>
    </div>
  </div>
</div>
