<div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-primary">
          <div class="card-body pb-0">
            <div class="btn-group float-right" dropdown="">
              <button class="btn btn-transparent dropdown-toggle p-0" dropdowntoggle="" type="button" aria-haspopup="true">
                <i class="icon-settings"></i>
              </button>
              <!---->
            </div>
            <h4 class="mb-0">9.823</h4>
            <p>Members online</p>
          </div>
          <div class="chart-wrapper px-3" style="height:70px;"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
            <canvas basechart="" class="chart chartjs-render-monitor" width="848" height="140" style="display: block; width: 424px; height: 70px;"></canvas>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-info">
          <div class="card-body pb-0">
            <button class="btn btn-transparent p-0 float-right" type="button">
              <i class="icon-location-pin"></i>
            </button>
            <h4 class="mb-0">9.823</h4>
            <p>Members online</p>
          </div>
          <div class="chart-wrapper px-3" style="height:70px;"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
            <canvas basechart="" class="chart chartjs-render-monitor" width="848" height="140" style="display: block; width: 424px; height: 70px;"></canvas>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-warning">
          <div class="card-body pb-0">
            <div class="btn-group float-right" dropdown="">
              <button class="btn btn-transparent dropdown-toggle p-0" dropdowntoggle="" type="button" aria-haspopup="true">
                <i class="icon-settings"></i>
              </button>
              <!---->
            </div>
            <h4 class="mb-0">9.823</h4>
            <p>Members online</p>
          </div>
          <div class="chart-wrapper" style="height:70px;"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
            <canvas basechart="" class="chart chartjs-render-monitor" width="912" height="140" style="display: block; width: 456px; height: 70px;"></canvas>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-danger">
          <div class="card-body pb-0">
            <div class="btn-group float-right" dropdown="">
              <button class="btn btn-transparent dropdown-toggle p-0" dropdowntoggle="" type="button" aria-haspopup="true">
                <i class="icon-settings"></i>
              </button>
              <!---->
            </div>
            <h4 class="mb-0">9.823</h4>
            <p>Members online</p>
          </div>
          <div class="chart-wrapper px-3" style="height:70px;"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
            <canvas basechart="" class="chart chartjs-render-monitor" width="848" height="140" style="display: block; width: 424px; height: 70px;"></canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-lg-3">
        <div class="social-box facebook">
          <i class="fa fa-facebook"></i>
          <div class="chart-wrapper"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
            <canvas basechart="" class="chart chartjs-render-monitor" width="912" height="180" style="display: block; width: 456px; height: 90px;"></canvas>
          </div>
          <ul>
            <li>
              <strong>89k</strong>
              <span>friends</span>
            </li>
            <li>
              <strong>459</strong>
              <span>feeds</span>
            </li>
          </ul>
        </div>

      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="social-box twitter">
          <i class="fa fa-twitter"></i>
          <div class="chart-wrapper"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
            <canvas basechart="" class="chart chartjs-render-monitor" width="912" height="180" style="display: block; width: 456px; height: 90px;"></canvas>
          </div>
          <ul>
            <li>
              <strong>973k</strong>
              <span>followers</span>
            </li>
            <li>
              <strong>1.792</strong>
              <span>tweets</span>
            </li>
          </ul>
        </div>

      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="social-box linkedin">
          <i class="fa fa-linkedin"></i>
          <div class="chart-wrapper"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
            <canvas basechart="" class="chart chartjs-render-monitor" width="912" height="180" style="display: block; width: 456px; height: 90px;"></canvas>
          </div>
          <ul>
            <li>
              <strong>500+</strong>
              <span>contacts</span>
            </li>
            <li>
              <strong>292</strong>
              <span>feeds</span>
            </li>
          </ul>
        </div>

      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="social-box google-plus">
          <i class="fa fa-google-plus"></i>
          <div class="chart-wrapper"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
            <canvas basechart="" class="chart chartjs-render-monitor" width="912" height="180" style="display: block; width: 456px; height: 90px;"></canvas>
          </div>
          <ul>
            <li>
              <strong>894</strong>
              <span>followers</span>
            </li>
            <li>
              <strong>92</strong>
              <span>circles</span>
            </li>
          </ul>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            Traffic &amp; Sales
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12 col-lg-4">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="callout callout-info">
                      <small class="text-muted">New Clients</small>
                      <br>
                      <strong class="h4">9,123</strong>
                      <div class="chart-wrapper" style="height:30px;"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                        <canvas basechart="" class="chart chartjs-render-monitor" width="412" height="60" style="display: block; width: 206px; height: 30px;"></canvas>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="callout callout-danger">
                      <small class="text-muted">Recuring Clients</small>
                      <br>
                      <strong class="h4">22,643</strong>
                      <div class="chart-wrapper" style="height:30px;"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                        <canvas basechart="" class="chart chartjs-render-monitor" width="412" height="60" style="display: block; width: 206px; height: 30px;"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="mt-0">
                <ul class="horizontal-bars">
                  <li>
                    <div class="title">
                      Monday
                    </div>
                    <div class="bars">
                      <div class="progress progress-xs">
                        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="34" class="progress-bar bg-info" role="progressbar" style="width: 34%"></div>
                      </div>
                      <div class="progress progress-xs">
                        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="78" class="progress-bar bg-danger" role="progressbar" style="width: 78%"></div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="title">
                      Tuesday
                    </div>
                    <div class="bars">
                      <div class="progress progress-xs">
                        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="56" class="progress-bar bg-info" role="progressbar" style="width: 56%"></div>
                      </div>
                      <div class="progress progress-xs">
                        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="94" class="progress-bar bg-danger" role="progressbar" style="width: 94%"></div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="title">
                      Wednesday
                    </div>
                    <div class="bars">
                      <div class="progress progress-xs">
                        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="12" class="progress-bar bg-info" role="progressbar" style="width: 12%"></div>
                      </div>
                      <div class="progress progress-xs">
                        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="67" class="progress-bar bg-danger" role="progressbar" style="width: 67%"></div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="title">
                      Thursday
                    </div>
                    <div class="bars">
                      <div class="progress progress-xs">
                        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="43" class="progress-bar bg-info" role="progressbar" style="width: 43%"></div>
                      </div>
                      <div class="progress progress-xs">
                        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="91" class="progress-bar bg-danger" role="progressbar" style="width: 91%"></div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="title">
                      Friday
                    </div>
                    <div class="bars">
                      <div class="progress progress-xs">
                        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="22" class="progress-bar bg-info" role="progressbar" style="width: 22%"></div>
                      </div>
                      <div class="progress progress-xs">
                        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="73" class="progress-bar bg-danger" role="progressbar" style="width: 73%"></div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="title">
                      Saturday
                    </div>
                    <div class="bars">
                      <div class="progress progress-xs">
                        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="53" class="progress-bar bg-info" role="progressbar" style="width: 53%"></div>
                      </div>
                      <div class="progress progress-xs">
                        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="82" class="progress-bar bg-danger" role="progressbar" style="width: 82%"></div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="title">
                      Sunday
                    </div>
                    <div class="bars">
                      <div class="progress progress-xs">
                        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="9" class="progress-bar bg-info" role="progressbar" style="width: 9%"></div>
                      </div>
                      <div class="progress progress-xs">
                        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="69" class="progress-bar bg-danger" role="progressbar" style="width: 69%"></div>
                      </div>
                    </div>
                  </li>
                  <li class="legend">
                    <span class="badge badge-pill badge-info"></span> <small>New clients</small> &nbsp; <span class="badge badge-pill badge-danger"></span> <small>Recurring clients</small>
                  </li>
                </ul>
              </div>
              <div class="col-sm-6 col-lg-4">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="callout callout-warning">
                      <small class="text-muted">Pageviews</small>
                      <br>
                      <strong class="h4">78,623</strong>
                      <div class="chart-wrapper" style="height:30px;"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                        <canvas basechart="" class="chart chartjs-render-monitor" width="412" height="60" style="display: block; width: 206px; height: 30px;"></canvas>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="callout callout-success">
                      <small class="text-muted">Organic</small>
                      <br>
                      <strong class="h4">49,123</strong>
                      <div class="chart-wrapper" style="height:30px;"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                        <canvas basechart="" class="chart chartjs-render-monitor" width="412" height="60" style="display: block; width: 206px; height: 30px;"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="mt-0">
                <ul class="horizontal-bars type-2">
                  <li>
                    <i class="icon-user"></i>
                    <span class="title">Male</span>
                    <span class="value">43%</span>
                    <div class="bars">
                      <div class="progress progress-xs">
                        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="43" class="progress-bar bg-warning" role="progressbar" style="width: 43%"></div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <i class="icon-user-female"></i>
                    <span class="title">Female</span>
                    <span class="value">37%</span>
                    <div class="bars">
                      <div class="progress progress-xs">
                        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="37" class="progress-bar bg-warning" role="progressbar" style="width: 37%"></div>
                      </div>
                    </div>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <i class="icon-globe"></i>
                    <span class="title">Organic Search</span>
                    <span class="value">191,235 <span class="text-muted small">(56%)</span></span>
                    <div class="bars">
                      <div class="progress progress-xs">
                        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="56" class="progress-bar bg-success" role="progressbar" style="width: 56%"></div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <i class="icon-social-facebook"></i>
                    <span class="title">Facebook</span>
                    <span class="value">51,223 <span class="text-muted small">(15%)</span></span>
                    <div class="bars">
                      <div class="progress progress-xs">
                        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="15" class="progress-bar bg-success" role="progressbar" style="width: 15%"></div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <i class="icon-social-twitter"></i>
                    <span class="title">Twitter</span>
                    <span class="value">37,564 <span class="text-muted small">(11%)</span></span>
                    <div class="bars">
                      <div class="progress progress-xs">
                        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="11" class="progress-bar bg-success" role="progressbar" style="width: 11%"></div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <i class="icon-social-linkedin"></i>
                    <span class="title">LinkedIn</span>
                    <span class="value">27,319 <span class="text-muted small">(8%)</span></span>
                    <div class="bars">
                      <div class="progress progress-xs">
                        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="8" class="progress-bar bg-success" role="progressbar" style="width: 8%"></div>
                      </div>
                    </div>
                  </li>
                  <li class="divider text-center">
                    <button class="btn btn-sm btn-link text-muted" data-original-title="show more" data-placement="top" data-toggle="tooltip" title="" type="button"><i class="icon-options"></i></button>
                  </li>
                </ul>
              </div>
              <div class="col-sm-6 col-lg-4">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="callout">
                      <small class="text-muted">CTR</small>
                      <br>
                      <strong class="h4">23%</strong>
                      <div class="chart-wrapper" style="height:30px;"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                        <canvas basechart="" class="chart chartjs-render-monitor" width="412" height="60" style="display: block; width: 206px; height: 30px;"></canvas>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="callout callout-primary">
                      <small class="text-muted">Bounce Rate</small>
                      <br>
                      <strong class="h4">5%</strong>
                      <div class="chart-wrapper" style="height:30px;"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                        <canvas basechart="" class="chart chartjs-render-monitor" width="412" height="60" style="display: block; width: 206px; height: 30px;"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="mt-0">
                <ul class="icons-list">
                  <li>
                    <i class="icon-screen-desktop bg-primary"></i>
                    <div class="desc">
                      <div class="title">iMac 4k</div>
                      <small>Lorem ipsum dolor sit amet</small>
                    </div>
                    <div class="value">
                      <div class="small text-muted">Sold this week</div>
                      <strong>1.924</strong>
                    </div>
                    <div class="actions">
                      <button class="btn btn-link text-muted" type="button"><i class="icon-settings"></i></button>
                    </div>
                  </li>
                  <li>
                    <i class="icon-screen-smartphone bg-info"></i>
                    <div class="desc">
                      <div class="title">Samsung Galaxy Edge</div>
                      <small>Lorem ipsum dolor sit amet</small>
                    </div>
                    <div class="value">
                      <div class="small text-muted">Sold this week</div>
                      <strong>1.224</strong>
                    </div>
                    <div class="actions">
                      <button class="btn btn-link text-muted" type="button"><i class="icon-settings"></i></button>
                    </div>
                  </li>
                  <li>
                    <i class="icon-screen-smartphone bg-warning"></i>
                    <div class="desc">
                      <div class="title">iPhone 6S</div>
                      <small>Lorem ipsum dolor sit amet</small>
                    </div>
                    <div class="value">
                      <div class="small text-muted">Sold this week</div>
                      <strong>1.163</strong>
                    </div>
                    <div class="actions">
                      <button class="btn btn-link text-muted" type="button"><i class="icon-settings"></i></button>
                    </div>
                  </li>
                  <li>
                    <i class="icon-user bg-danger"></i>
                    <div class="desc">
                      <div class="title">Premium accounts</div>
                      <small>Lorem ipsum dolor sit amet</small>
                    </div>
                    <div class="value">
                      <div class="small text-muted">Sold this week</div>
                      <strong>928</strong>
                    </div>
                    <div class="actions">
                      <button class="btn btn-link text-muted" type="button"><i class="icon-settings"></i></button>
                    </div>
                  </li>
                  <li>
                    <i class="icon-social-spotify bg-success"></i>
                    <div class="desc">
                      <div class="title">Spotify Subscriptions</div>
                      <small>Lorem ipsum dolor sit amet</small>
                    </div>
                    <div class="value">
                      <div class="small text-muted">Sold this week</div>
                      <strong>893</strong>
                    </div>
                    <div class="actions">
                      <button class="btn btn-link text-muted" type="button"><i class="icon-settings"></i></button>
                    </div>
                  </li>
                  <li>
                    <i class="icon-cloud-download bg-danger"></i>
                    <div class="desc">
                      <div class="title">Ebook</div>
                      <small>Lorem ipsum dolor sit amet</small>
                    </div>
                    <div class="value">
                      <div class="small text-muted">Downloads</div>
                      <strong>121.924</strong>
                    </div>
                    <div class="actions">
                      <button class="btn btn-link text-muted" type="button"><i class="icon-settings"></i></button>
                    </div>
                  </li>
                  <li>
                    <i class="icon-camera bg-warning"></i>
                    <div class="desc">
                      <div class="title">Photos</div>
                      <small>Lorem ipsum dolor sit amet</small>
                    </div>
                    <div class="value">
                      <div class="small text-muted">Uploaded</div>
                      <strong>12.125</strong>
                    </div>
                    <div class="actions">
                      <button class="btn btn-link text-muted" type="button"><i class="icon-settings"></i></button>
                    </div>
                  </li>
                  <li class="divider text-center">
                    <button class="btn btn-sm btn-link text-muted" data-placement="top" data-toggle="tooltip" title="show more" type="button"><i class="icon-options"></i></button>
                  </li>
                </ul>
              </div>
            </div>
            <br>


          </div>
        </div>
      </div>
    </div>
  </div>
