<article class="page users">

  <div class="content-header">
    <h2>Usuários</h2>
    <p class="description" [innerHTML]="titleDoc"></p>
  </div>

  <div id="content" class="content-box">
    <div id="example" class="section">
      <button [routerLink]="['/user','edit']" class="btn btn-sm btn-success">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <span>Novo usuário</span>
      </button>

      <table class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>
              <button class="btn btn-primary btn-xs" (click)="showModalDetails(user)">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                  <span>Detalhes</span>
              </button>
              <a class="btn btn-primary btn-xs" [routerLink]="['/user','edit', user.id]">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                <span>Editar</span>
              </a>
              <button mwlConfirmationPopover title="Confirmação" message="Deseja realmente remover o usuário <b>{{user.name}}</b>?" class="btn btn-danger btn-xs" placement="left" (confirm)="delete(user)">
                <i class="fa fa-trash" aria-hidden="true"></i>
                <span>Remover</span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      

      <!-- modal definitions -->
     
      <div class="item">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</article>
