
<!-- Conteúdo da página -->
<article>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-body" style="min-height: 200px;">


                <div class="sd form clearfix">
                    <div class="pull-left">
                    </div>
                    <div class="pull-right">
                    </div>
                </div>

                <!-- Grid -->

                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> Permissaos
                        <div class="pull-right">
                            <button [routerLink]="['/permissao','edit']" type="button" class="btn btn-success btn-sm">
                                <i class="fa fa-plus-circle"></i>&nbsp; Adicionar
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        <button class="th-button text-left" style="width:100%" (click)="orderBy('description', formOrder.description)">
                                                <b>Descrição {{formOrder.description}}</b>
                                        </button>
                                    </th>
                                    <th>
                                        Ações
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let permissao of permissaos">
                                    <td>{{permissao.id}}</td>
                                    <td>{{permissao.description}}</td>
                                    <td class="text-right">
                                        <button [routerLink]="['/permissao','edit', permissao.id]" type="button" class="btn btn-warning btn-sm">
                                            <i class="fa fa-plus-circle"></i>&nbsp; Editar
                                        </button>

                                        <button class="btn btn-danger btn-sm" type="button" (click)="showModalDelete(permissao)">
                                                <i class="fa fa-times"></i> &nbsp; Apagar
                                        </button>

                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>


            </div>
        </div>
    </div>
</article>

<!-- Janela Modal -->
<div class="modal fade" bsModal #staticModalDelete="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="appSmallModalLabel" aria-hidden="true">
     <div class="modal-dialog modal-lm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-body text-center">
                    <span class="fa-stack fa-2x">
                        <span class="fa fa-circle fa-stack-2x text-default"></span>
                        <span class="fa fa-exclamation-triangle fa-stack-1x text-warning"></span>
                    </span>
                    <br>
                    <br>
                    <p id="modal-label">Deseja realmente excluir este item?</p>
                    <div class="modal-body" *ngIf="permissao">
                         <form class="form-horizontal" role="form" #permissaoForm="ngForm">
                          <div class="form-group">
                                <label for="description" class="control-label col-sm-3">Descrição</label>
                                <div class="col-xs-8">
                                    <input type="text" id="description" class="form-control" name="description"
                                           [(ngModel)]="permissao.description" disabled="true">
                                </div>
                            </div>

                            <button type="button" class="btn btn-default icon right" (click)="hideStaticModals()">
                                <span class="fa fa-times" aria-hidden="true"></span>
                                Não
                            </button>
                            <button type="submit" class="btn btn-danger icon right" (click)="delete(permissao)">
                                    <span class="fa fa-check" aria-hidden="true"></span>
                                Sim
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>