.th-button {
    border: none;
    outline: none;
    background: transparent;
    text-transform: uppercase;
}

.padding-down {
    padding-bottom: 22px;
}

// força largura para a primeira coluna da tabela
table th:first-child {
  width: 50px;
}
