
<!-- Conteúdo da página -->
<article>
  <div>
    <div class="card">
      <div class="card-header">
          <strong>{{action}} Mensagem</strong>
      </div>
      <div class="card-body">

      <div class="panel-body" style="min-height: 300px;">

      <form class="col-xs-6" role="form" #mensagemForm="ngForm" (ngSubmit)="save(mensagem)">
        <fieldset [disabled]="isLoading">
          
          <div class="form-group">
            <label for="mensagem-id" class="control-label">id</label>
            <input type="text" name="id" id="mensagem-id" class="form-control" [(ngModel)]="mensagem.id" readonly="true">
          </div>
          <div class="form-group">
            <label for="mensagem-usuario" class="control-label">usuario</label>
            <input type="text" name="usuario" id="mensagem-usuario" class="form-control" [(ngModel)]="mensagem.usuario" >
          </div>
          <div class="form-group">
            <label for="mensagem-topico" class="control-label">topico</label>
            <input type="text" name="topico" id="mensagem-topico" class="form-control" [(ngModel)]="mensagem.topico" >
          </div>
          <div class="form-group">
            <label for="mensagem-description" class="control-label">description</label>
            <input type="text" name="description" id="mensagem-description" class="form-control" [(ngModel)]="mensagem.description" >
          </div>
          <div class="form-group">
            <label for="mensagem-datahora" class="control-label">datahora</label>
            <input type="text" name="datahora" id="mensagem-datahora" class="form-control" [(ngModel)]="mensagem.datahora" >
          </div>
        </fieldset>

        <div class="card-footer clearfix">
          <fieldset [disabled]="isLoading" class="pull-right">
            <button type="button" class="btn btn-link text-danger mr-1" (click)="remove()" *ngIf="mensagem.id">
              <i class="fa fa-trash" aria-hidden="true"></i>
              <span>Remover</span>
            </button>
            <button type="button" class="btn btn-default mr-1" (click)="goBack()">
              <i class="fa fa-times" aria-hidden="true"></i>
              <span>Cancelar</span>
            </button>
            <button type="submit" class="btn btn-primary" [disabled]="mensagemForm.invalid">
              <i class="fa fa-check" aria-hidden="true"></i>
              <span>Salvar</span>
            </button>
          </fieldset>
        </div>
      </form>
      </div>
      </div>
    </div>
  </div>
</article>
