<div class="painel painel-default" >
    <h3 class="page-header">
        Usuário <small>listagem</small>
    </h3>

    <div class="form-group row">
        <div class="col-md-6">
        <label for="nome">Buscar usuário (nome):<font color="#FF0000"> *</font></label>
            <div class="form-group input-group">
                <input type="text" class="form-control" id="nome" ng-model="usuario.name" ng-enter="pesquisar()">
                <span id="nome-message" class="text-danger"></span>
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" ng-click="pesquisar()">
                        <i class="glyphicon glyphicon-search"></i> Pesquisar 
                    </button>
                    <button class="btn btn-danger" type="button" ng-click="limpar()">
                        <i class="glyphicon glyphicon-remove"> </i> Limpar
                    </button>                    
                </span>
            </div>
        </div>
    </div>
    <div class="animated fadeInUp" ng-if="usuarios.length > 0" ng-grid="gridOptions"></div>
</div>