<div class="painel painel-default" has-roles="USER_ROLES.ADMINISTRADOR">
    <h3 class="page-header">
        Usuários <small>Manter</small>
    </h3>

    <form role="form">

        <div ng-if="usuario.name">
            <div class="form-group row">
                <div class="col-md-12">
                    <label for="id">Nome:</label> {{usuario.name}}
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-12">
                    <label for="id">Telefone:</label> {{usuario.telephoneNumber}}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <label for="id">Email:</label> {{usuario.email}}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <label for="id">Setor:</label> {{usuario.setor}}
                </div>
            </div>
        </div>

        <label>Marque os Grupos para o usuário</label>
        <!--
        -->
        <div class="form-group row">
            <div class="col-md-3" ng-repeat="grupo in grupos">
                <input type="checkbox" name="grupos[]"
                       ng-checked="isGrupoInGrupos(grupo) > -1"
                       ng-click="toggleSelection(grupo)" has-roles="USER_ROLES.ADMINISTRADOR"> {{grupo.nome}}<br />
            </div>
        </div>

        <div>
            <button has-roles="USER_ROLES.ADMINISTRADOR" class="btn btn-primary" ng-click="save(usuario)">
                <i class="glyphicon glyphicon-ok-sign"> </i> Salvar
            </button>
            <a class="btn btn-primary pull-right" back-button>
                <i class="glyphicon glyphicon-arrow-left"></i> Voltar</a>
        </div>

    </form>
</div>