<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>To-Do's</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-fab bottom right>
        <button ion-fab mini (click)="openTodoFormPage()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>
    <ion-row>
        <ion-col width-25>
            <ion-item>
                <ion-label>Mostrar arquivados:</ion-label>
                <ion-toggle [(ngModel)]="showArchived" (ionChange)="toggleVisibility()"></ion-toggle>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-list>
        <ion-item *ngIf="todos.length === 0">
            Nenhum "to-do"
        </ion-item>
        <ion-item-sliding *ngFor="let todo of todos">
            <ion-item (click)="itemTapped($event, todo)">
                <div class="todo-description">{{todo.description}}</div>
                <div class="todo-details" item-right>
                    {{todo.dateEnd | amDateFormat:'DD-MM-YYYY'}}
                </div>
            </ion-item>
            <ion-item-options side="left">
                <button ion-button (click)="defer($event, todo)">Defer</button>
            </ion-item-options>
            <ion-item-options side="right">
                <button ion-button (click)="archive($event, todo)">Archive</button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>