<!--
<div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
    <div class="mdl-card__supporting-text">
        <label class="">CEP</label>
        <input type="text" name="text" [(ngModel)]="log.cep">
        <button type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect" (click)="searchCep(log.cep)">Buscar</button> 
    </div>
    <div class="demo-card-wide mdl-card mdl-shadow--2dp" >
        <div class="mdl-card__actions mdl-card--border">
            <ul class="demo-list-item mdl-list">
                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        UF: {{log.uf}}
                    </span>
                </li>
                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        {{log.rua}} 
                    </span>
                </li>
                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        Bairro: {{log.bairro}}
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="demo-separator mdl-cell--1-col" ></div>
</div>
-->
<div>
  <div class="content-header">
  <h2>Busca CEP</h2>
  <p class="description" [innerHTML]="titleDoc"></p>
  </div>

  <form class="container">
    <div class="row">
      <div class="col-sm-6">
        <label for="uf">CEP:</label>
        <div class="input-group stylish-input-group">
          <input type="text" class="form-control" placeholder="CEP" name="cep" [(ngModel)]="log.cep">
          <span class="input-group-addon">
            <button type="submit" (click)="searchCep(log.cep)">
              <span class="glyphicon glyphicon-search"></span>
            </button>  
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <div class="col-sm-6">
        <label for="address2">Rua:</label>
          <input type="text" class="form-control" id="address2" name="rua" [(ngModel)]="log.rua">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <div class="col-sm-6">
        <label for="address2">Complemento:</label>
          <input type="text" class="form-control" id="address2" name="complemento" [(ngModel)]="log.complemento">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <div class="col-sm-6">
        <label for="address2">Tipo:</label>
          <input type="text" class="form-control" id="address2" name="tipo" [(ngModel)]="log.tipo">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <div class="col-sm-6">
        <label for="address2">Bairro:</label>
        <input type="text" class="form-control" id="address2" name="bairro" [(ngModel)]="log.bairro">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <label for="uf">UF:</label>
        <div>
      <select name="userPerfil" [ngModel]="selectedUf" id="userPerfil" class="form-control" (change)="changeRole($event)">
        <option *ngFor="let uf of ufs">{{uf.ufeNo}}</option>
      </select>
        </div>
      </div>
    </div>

  </form>
</div>
