
<!-- Conteúdo da página -->
<article>
  <div>
    <div class="card">
      <div class="card-header">
          <strong>{{action}} Topico</strong>
      </div>
      <div class="card-body">

      <div class="panel-body" style="min-height: 300px;">

      <form class="col-xs-6" role="form" #topicoForm="ngForm" (ngSubmit)="save(topico)">
        <fieldset [disabled]="isLoading">
          
          <div class="form-group">
            <label for="topico-id" class="control-label">id</label>
            <input type="text" name="id" id="topico-id" class="form-control" [(ngModel)]="topico.id" readonly="true">
          </div>
          <div class="form-group">
            <label for="topico-categoria" class="control-label">categoria</label>
            <input type="text" name="categoria" id="topico-categoria" class="form-control" [(ngModel)]="topico.categoria" >
          </div>
          <div class="form-group">
            <label for="topico-description" class="control-label">description</label>
            <input type="text" name="description" id="topico-description" class="form-control" [(ngModel)]="topico.description" >
          </div>
        </fieldset>

        <div class="card-footer clearfix">
          <fieldset [disabled]="isLoading" class="pull-right">
            <button type="button" class="btn btn-link text-danger mr-1" (click)="remove()" *ngIf="topico.id">
              <i class="fa fa-trash" aria-hidden="true"></i>
              <span>Remover</span>
            </button>
            <button type="button" class="btn btn-default mr-1" (click)="goBack()">
              <i class="fa fa-times" aria-hidden="true"></i>
              <span>Cancelar</span>
            </button>
            <button type="submit" class="btn btn-primary" [disabled]="topicoForm.invalid">
              <i class="fa fa-check" aria-hidden="true"></i>
              <span>Salvar</span>
            </button>
          </fieldset>
        </div>
      </form>
      </div>
      </div>
    </div>
  </div>
</article>
