#top-nav {
  &.navbar {
    border-radius: 0;
  }

  // Botão de toggle do menu
  button.navbar-toggle {
    float: left;
    margin: 8px 15px;
  }

}

:host /deep/ {
  .navbar-text {
    margin: 0 15px;
    padding: 15px 0;
  }

  @media (max-width: 767px) {

    .container-fluid {
      display: flex;

      & > * {
        min-width: 40px;
      }

      .navbar-header {
        flex-grow: 1;
      }

      dml-usuario-dropdown {
        order: 1;
      }
    }

    .navbar-text {
      margin: 0 15px;
      padding: 10px 0;
    }

    i + span {
      // esconde o texto do menu
      // mostra apenas o ícone
      display: none;
    }
  }
}
