<ion-view title="Estacionamento">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Placa" ng-model="placa">
            </label>
            <button class="button button-stable button-block button-small" ng-click="buscaPlaca(placa)">Buscar</button>
        </form>
        <div class="list card">
            <div class="item item-divider">Veículo</div>
            <div class="item item-body">
                <ul ng-if="veiculo">
                    <li>Proprietario: {{veiculo.proprietario}}</li>
                    <li>Ramal: {{veiculo.email}}</li>
                </ul>
            </div>
        </div>

    </ion-content>
</ion-view>