<md-card  flex-gt-sm="55" flex-gt-md="55" >
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="CEP">
            <md-content class="md-padding">
                <md-card-content>
                    <md-input-container class="md-block">
                        <label>CEP</label>
                        <input ng-model="cep">
                        <md-button ng-click="buscar(cep)">Buscar</md-button>
                    </md-input-container>
                </md-card-content>
                <md-card-actions layout="row" layout-align="left center" ng-show="endereco.id">
                    <br>Cidade: {{endereco.cidade}} - {{endereco.uf}}
                    <br>Bairro: {{endereco.bairroIni}} {{endereco.bairroFim}}
                    <br>Logradouro: {{endereco.logradouro}} 
                </md-card-actions>
            </md-content>
        </md-tab>
    </md-tabs>
</md-card>

